*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
LanguageLearningAndroid/.idea/
LanguageLearningAndroid/gradle/
LanguageLearningAndroid/gradlew
LanguageLearningAndroid/gradlew.bat
LanguageLearningModel/.classpath
LanguageLearningModel/.project
LanguageLearningModel/.settings/
LanguageLearningModel/build/
LanguageLearningModel/bin/
LanguageLearningModel/.idea/
LanguageLearningModel/gradle.bat
LanguageLearningModel/gradle/
LanguageLearningModel/gradlew
LanguageLearningModel/local.properties
LanguageLearningModel/gradlew.bat
LanguageLearningServices/.settings/
LanguageLearningServices/.classpath
LanguageLearningServices/.gitignore
LanguageLearningServices/.project
LanguageLearningServices/.idea/
LanguageLearningServices/build/
LanguageLearningServices/gradlew
LanguageLearningServices/gradlew.bat
LanguageLearningServices/local.properties
LanguageLearningServices/gradle/
LanguageLearningServices/bin/
LanguageLearningAndroid/app/build/
LanguageLearningAndroid/build/
